@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 100px;
}

.menu__title {
  margin: 0 auto 24px;
  text-align: center;
  max-width: 780px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin: 0 auto 100px;
  text-align: center;
  max-width: 780px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  gap: 100px;
  justify-content: center;
  flex-flow: row wrap;
}

.card {
  width: 540px;
  list-style-type: none;
}

.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
}

.card__list-item {
  display: flex;
  column-gap: 2px;
  width: 540px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 16px;
}

.card__list-item:last-child {
  margin-bottom: 0;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
